<h1> Fill in the form to add a bookmark </h1>

<form action="/url" method="post">
  <input type="text" name="url">
  <input type="text" name="title">
  <input type="submit" value="Add Bookmark">
</form>
